*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.container{ margin-top: 120px; }
/*.bg-image{ margin:auto; min-height: 450px; max-width: 50%; background-image: url('/image/background/dienthoaiviet.png');
 background-position: center; background-repeat: no-repeat;  background-size: cover; padding-top: 150px; border-radius: 10px;}*/
.col-5{ background-color: #f80; height: 330px; margin: 0 auto; border-radius: 10px; text-align: center; }
.logo-login img{ width: 300px ;height:auto; margin:10px;}
.form-style{ width: 300px; height: auto; margin-left: auto; margin-right: auto;}
.form-style input{ width: 100%; font-size: 15px; height: 35px; border-radius: 5px; border:none; border: 1px solid #2e2e2e;
 padding-left: 10px; margin: 10px;}
.form-style input:hover{ background-color: #FAC853; }
.form-style button{ margin: 10px 20px;}
.form-style a{ margin: 20px;}